<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
          <pre>  &copy; Copyright <strong>Gaming Website</strong>. All Rights Reserved                                                            Tushar singh          Gagan singh</pre>
          </div>
          <div class="credits">

           <pre> Designed by tushar                                                                                           <a href="https://www.instagram.com/tusharsingh8800/"><i class="fa fa-instagram"></i></a>  <a href="https://www.instagram.com/tusharsingh8800/"><i class="fa fa-facebook"></i></a>                    <a href="https://www.instagram.com/gagaan_singh"><i class="fa fa-instagram"></i></a>  <a href="https://www.instagram.com/tusharsingh8800/"><i class="fa fa-facebook"></i></a>  </pre>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->
